body {
  overflow-x: hidden;
}
.navbar {
  background-color: #465066;
  color: #BFBFBF;
  display: block;
  border-radius: 0;
  text-align: center;
  height: 10vh;
}
.topGames {
  text-align: center;
}

#topGamesTitle {
  font-size: 20px;
}
.fa-arrow-circle-down {
  padding-left: 15px;
  margin-top: 10px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.iconRotate{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menuContainer {
  background-color: #5A6273;
  color: #BFBFBF;
  height: 0px;
  float: left;
  width: 300px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s
}

.menuOpen{
  margin-top: 10vh;
  height: 90vh;
}

.streamTitle {
  text-align: center;
}

.mainContainer {
  transition: margin-left 0.3s;
  padding: 20px;
  text-align: center;
  background-color: #71757F;
  color: #BFBFBF;
  height: 100vh;
  overflow-y: scroll;
}

.mainContainer::-webkit-scrollbar {
	width: 6px;
	background-color: #BFBFBF;
}
.mainContainer::-webkit-scrollbar-thumb {
	background-color: #465066;
}

#streamVideo {
  padding: 10px;
  margin: 20px;
}

.mainOpen {
  margin-left: 300px;
}

.streamersList1 > li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  border: 1px solid #BFBFBF;
  margin-right: 10px;
  cursor: pointer;
  height: 180px;
  width: 160px;
  background-color: #5A6273;
}

.streamersList2 > li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  border: 1px solid #BFBFBF;
  margin-right: 10px;
  cursor: pointer;
  height: 180px;
  width: 160px;
  background-color: #5A6273;
}

.gamesMenu {
  list-style: none;
  padding-top: 10px;
}

.menuContainer::-webkit-scrollbar {
	width: 6px;
	background-color: #BFBFBF;
}
.menuContainer::-webkit-scrollbar-thumb {
	background-color: #465066;
}

.gamesMenu > li {
  padding-top: 10px;
  border-bottom: 1px solid #BFBFBF;
}
